
body {
    background: radial-gradient(#dbffe1, #fff) fixed;
    color: #0e2805;
    
    
    background-color: #cccccc;
    height: 500px;
        background-position: center center;
        
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: scroll;
    
  }
 #allBusMall{
   height: 500px;
   width: 600px;
   position: absolute;
   background-color: #0e2805;
   border-radius: 40px;
   box-shadow:green;
   
   
 }
 
#allBusMall img{
  
height: 100px;
padding: 10px;
display: inline-block;
}
  

.sign-in {
    width: 600px;
    height: 100px;
  
    box-shadow: 0 0 3px 0 rgb(0, 0, 0, 3);
    background: #fff;
    padding:20px;
    margin: 9% auto 0;
    text-align: center;
    border-radius: 20px 80px 0 80px;
}